.Home-content{
  height: 100vh;
}
  .home > a{
    margin-top: -8px;
  }
  .home > a > h2{
    margin-top: 30px;
  } 
  .body{
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
  }
  .body h1{
    justify-content: center;
  }
  .text-home{
    justify-content: right;
  }
  .image-sign{
    height: 30vh;
    justify-items: flex-start;
  }
  .link{
    color: white;
    text-decoration: none;
  }
