.home {

  }
  
  .home > a{
    margin-top: -8px;
  }
  .home > a > h2{
    margin-top: 30px;
  } 
  .footer{
    display: flex;
    position: absolute;
    align-items: center;
    width: 99%;    
    bottom: 10px;
  }