
.signin {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.822);
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 60vh;
  width: 20vw;
  top: 20vh;
  right: 0;
  left: 65%;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 2px solid blue;
}
.signin > .MuiButton-contained{
  margin-top: 10px;
}
.signin > h2{
  margin-bottom: 0;
}
.signin > .h{
  margin-top: 0;
  margin-bottom: 1px;
}

/* .signin > .MuiSvgIcon-root{
  margin-top: -20px;
  color: white;
} */

.icon {
  color: #f0f0f0;
}
.signin > .MuiButton-root{
  margin-top: 10px;
  margin-left: 1px;
  width: 14vw;
}
.signin > .log{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20vw;
  cursor: pointer;
}