
.form-item{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.log{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20vw;
  margin-bottom: 20px;
  cursor: pointer;
}

.image-sign{
  height: 60vh;
  justify-items: flex-start;
}
.link{
  color: white;
  text-decoration: none;
}


